<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.sunw.self.admin.pg.option.mapper.OptionMapper">
	
	<insert id="OptionInsert">
		<selectKey order="AFTER" resultType="int">
			SELECT INSERT_ID()
		</selectKey>
		INSERT INTO CLINIC.PG_OPTION
		(
		PG_ID,
		PG_OPTION_NAME,
		PG_OPTION_CONTENT,
		PG_OPTION_PRICE
		)
		VALUES
		(
		#{pgId},
		#{pgOptionName},
		#{pgOptionContent},
		#{pgOptionPrice}
		)
	</insert>


	<select id="getAllOptionList"
	resultType="org.sunw.self.admin.pg.option.domain.OptionVO"
	parameterType="org.sunw.self.admin.pg.option.domain.OptionDTO">
	SELECT 
		PG_OPTION_ID,
		PG_ID,
		PG_OPTION_NAME,
		PG_OPTION_CONTENT,
		PG_OPTION_PRICE
	FROM CLINIC.PG_OPTION
	<if test='pgOptionName != null and pgOptionName != "" '>
		WHERE PG_OPTION_NAME LIKE CONCAT('%',#{pgOptionName},'%')
		</if>
	ORDER BY PG_OPTION_ID DESC
	LIMIT #{skip},
		#{perSheet}
	</select>
	
	
	<select id="getOptionById"
	resultType="org.sunw.self.admin.pg.option.domain.OptionVO">
	SELECT 
		PG_OPTION_ID,
		PG_ID,
		PG_OPTION_NAME, 
		PG_OPTION_CONTENT, 
		PG_OPTION_PRICE
	FROM PG_OPTION  
	WHERE PG_OPTION_ID =#{pgOptionId}
	</select>
	
	
	
	<!-- 수정 -->
	<update id="optionUpdate">
		UPDATE CLINIC.PG_OPTION
		SET
		PG_ID				=#{pgId},
		PG_OPTION_NAME		=#{pgOptionName},
		PG_OPTION_CONTENT	=#{pgOptionContent},
		PG_OPTION_PRIC		=#{pgOptionPric},
		WHERE PG_OPTION_ID	=#{pgOptionId}
	</update>

	
	<!-- 삭제 -->
	<delete id="optionDelete">
	DELETE FROM cLINIC.PG_OPTION
	WHERE PG_OPTION_ID = #{pgOptionId}
	</delete>

	
	<select id="optionListCnt" resultType="int">
	SELECT COUNT(*)
	FROM CLINIC.PG_OPTION
	</select>
	
	
	<!-- 
	<select id="getOptionById"
	resultType="org.sunw.self.admin.pg.option.domain.OptionVO">
	SELECT 
		a.PG_OPTION_ID,
		a.PG_ID,
		b.PG_NAME,
		a.PG_OPTION_NAME, 
		a.PG_OPTION_CONTENT, 
		a.PG_OPTION_PRICE
	FROM PG_OPTION a,PG_PROGRAM b 
	WHERE a.PG_ID=b.PG_ID 
	and PG_OPTION_ID =#{pgOptionId}
	</select>
	
	<select id="getProgramList"
	resultType="org.sunw.self.admin.pg.program.domain.ProgramVO">
	SELECT
		PG_ID,
		CATEGORY_ID,
		PG_NAME,
		PG_CONTENT,
		SURGERY_AREA,
		PG_RUNNIN_TIME,
		SORT_SEQ,
		ROOM_TYPE,
		USE_YN
	FROM clinic.pg_program
	</select>
	-->
	
	
</mapper>