<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper 
namespace= "org.sunw.self.admin.appoint.mapper.AppointMapper">
	<insert id="appointInsert">
		<selectKey order="AFTER" resultType="int">
		SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO medical_appointment.ap_appointment
		(
		AP_ID,
		USER_ID,
		PG_ID,
		PG_OPTION_ID,
		PG_ROOM_ID,
		AP_DURATION_TIME,
		AP_PRICE,
		AP_START_DT,
		AP_END_DT,
		AP_STATUS,
		AP_DT
		)
		VALUES
		(
		#{apId},
		#{userId},
		#{pgId},
		#{pgOptionId},
		#{pgRoomId},
		#{apDurationTime},
		#{apPrice},
		#{apStartDt},
		#{apEndDt},
		#{apStatus},
		#{apDt}
		)
	</insert>
	
	<!-- 얘약에 대한 결과 사용자 아이디가 널이 아닐경우 값을 반환 -->
	<select id="getAllApppoint"
	resultType="org.sunw.self.admin.appoint.domain.AppointVO">
	SELECT AP_ID,
		USER_ID,
		PG_ID, 
    	PG_OPTION_ID,
    	PG_ROOM_ID,
    	AP_DURATION_TIME,
    	AP_PRICE,
    	AP_START_DT,
    	AP_END_DT,
    	AP_STATUS,
    	AP_DT
	FROM medical_appointment.ap_appointment
	<if test='userId != null and userId != "" '>
		WHERE USER_ID LIKE CONCAT('%',#{userId},'%')
		</if>
	ORDER BY USER_ID DESC
	LIMIT #{skip} ,
			#{perSheet}
	</select>
	
	<!-- 예약 갯수 반환 -->
	<select id="appintCnt" resultType="int">
	SELECT COUNT(*)
	FROM medical_appointment.ap_appointment
	</select>
	
	<!-- 예약 조회 -->
	<select id="getAppointId"
	resultType="org.sunw.self.admin.appoint.domain.AppointVO">
	SELECT AP_ID,
		USER_ID,
		PG_ID,
		PG_OPTION_ID,
		PG_ROOM_ID,
		AP_DURATION_TIME,
		AP_PRICE,
		AP_START_DT,
		AP_END_DT,
		AP_STATUS,
		AP_DT
	FROM medical_appointment.ap_appointment
	WHERE USER_ID=#{userId}
	</select>
	
	
	<update id="appointUpdate">
		UPDATE medical_appointment.ap_appointment
		SET 
		AP_ID				=#{apId}, 
		USER_ID				=#{userId}, 
		PG_ID				=#{pgId}, 
		PG_OPTION_ID		=#{pgOptionId}, 
		PG_ROOM_ID			=#{pgRoomId}, 
		AP_DURATION_TIME	=#{apDurationTime}, 
		AP_PRICE			=#{apPrice}, 
		AP_START_DT			=#{apStartDt},
		AP_END_DT			=#{apEndDt},
		AP_STATUS			=#{apStatus}
		AP_DT				=#{apDt}
		WHERE AP_ID			=#{apid}
	</update>
	
	
	
	
	
	<delete id="delete">
	DELETE FROM  SELF_WASH.STORE WHERE S_ID = #{sId}
	</delete>
</mapper>  

